.copyright {
  position: fixed;
  left: 16px;
  bottom: 16px;
  text-align: left;
  background: #ffffff;
  padding: 8px 24px;
  border-radius: 32px;
  opacity: .95;
  backdrop-filter: blur(8px);
}

.copyright a {
  font-size: 16px;
  color: rgb(0, 74, 165);
  opacity: .8;
}

.copyright p{
  margin: 0;
  text-align: center;
  font-weight: 500;
}